.app-container {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.input-section {
  width: 50%;
}

.chart-section {
  width: 50%;
}

.input-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.data-table {
  width: 100%;
  table-layout: fixed;
  overflow-x: auto;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.data-table th, .data-table td {
  word-wrap: break-word;
  white-space: normal;
  padding: 8px;
  border: 1px solid #ddd;
}

.data-table th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;

}

.data-table th,
.data-table td {
    padding: 12px 15px;
}

.data-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.data-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.data-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

